$primary-font: "Lato-Regular", sans-serif;
$secondary-font: "Oswald", sans-serif;

$base-color-text: #444444;
$bg-basic-black: #000000;
$bg-color-black: #111111;
$special-color-black: #222222;
$bg-basic-green: #68b738;
$bg-basic-white: #ffffff;
$bg-color-grey: #f2f2f2;
$bg-basic-grey:#d9d9d9;
$special-dark-grey: #eaeaea;
