.additional-offer__container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 280px 1fr;
  align-items: center;
  margin-top: 14px;
  margin-bottom: 35px;

  &::after {
    content: "";
    border: 1px solid $bg-color-secondary;
    grid-area: 1 / 2 / auto / -1;
    margin-bottom: 4px;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 708px 1fr;
    margin-top: 35px;
    margin-bottom: 80px;

    &::after {
      grid-area: 1 / 1 / auto / -1;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1220px 1fr;
  }
}

.additional-offer__content-container {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.additional-offer__heading {
  grid-area: 1 / 2 / auto / 3;
  margin: 0 auto 0 0;
  padding-right: 40px;
  background-color: $text-with-bg-color;

  @media (min-width: $tablet-width) {
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -40px;
  }
}

.additional-offer__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    width: 896px;
    margin-right: 81px;
    margin-bottom: 0;
  }
}

.additional-offer__item {
  padding: 14px 0 15px;
  flex-direction: column;
  border-top: 1px solid $bg-border-color-value;

  @media (min-width: $tablet-width) {
    padding: 27px 38px;
    border: 1px solid $bg-border-color-value;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding: 15px 0;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border: none;
    border-top: 1px solid $bg-border-color-value;
  }
}

.additional-offer__heading-card {
  margin-bottom: 13px;
  width: 100%;

  @media (min-width: $tablet-width) {
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.additional-offer__param-container {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    margin-right: 40px;
    width: 100%;
  }
}
