.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $bg-basic-white;
  background-color: $bg-basic-green;
  font-family: $secondary-font;
  text-decoration: none;
  text-transform: uppercase;
}
