.example {
  background-color: $special-dark-grey;
}

.example__description {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $base-color-text;
}

.example__value {
  font-size: 24px;
  line-height: 24px;
  font-family: $secondary-font;
  text-transform: uppercase;
  color: $bg-basic-black;
}

.example__params {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: $base-color-text;
}

.example__value--total {
  font-size: 14px;
  line-height: 20px;
}

.example__params--total {
  font-family: $secondary-font;
  text-transform: uppercase;
  color: $bg-basic-black;
}
