.form-subscribe {
  width: 100%;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 89%;
  }

  @media (min-width: $desktop-width) {
    width: 61.5%;
  }
}

.form-subscribe__input {
  padding: 13px;
  margin-bottom: 18px;
  width: 100%;
  border: 1px solid $bg-border-color-input;
  opacity: border-color ease-in-out 0.3;
  z-index: 10;

  &:hover {
    border-color: $bg-border-color-value;
  }

  &:focus {
    outline: 2px solid $base-color-text;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding: 10px 10px 1px 11px;
  }
}

.form-subscribe__input::placeholder {
  @include text-style(20px, 30px, 400, $secondary-font);
  text-transform: uppercase;
}

.form-subscribe__button {
  padding: 15px 0;
  text-align: center;
  font-size: 20px;
  line-height: 26px;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 70%;
  }

  @media (min-width: $desktop-width) {
    width: 52%;
  }
}
