.form-subscribe {
  width: 100%;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.form-subscribe__input {
  padding: 13px;
  margin-bottom: 16px;
  width: 100%;
  border: 1px solid $bg-border-color-value;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.form-subscribe__input::placeholder {
  @include text-style(20px, 30px, 400, $secondary-font);
  text-transform: uppercase;
}

.form-subscribe__button {
  padding: 15px 0;
  text-align: center;
  width: 100%;
}
