.hero {
  font-family: $secondary-font;
  font-weight: 400;
  background-color: $bg-color-secondary;
  color: $text-with-bg-color;
}

.hero__heading {
  font-size: 36px;
  line-height: 36px;
}

.hero__text {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
