.param {
  @include text-style(14px, 15px, 400, $primary-font);
  margin: 0;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 51%;
    font-size: 16px;
    line-height: 20px;
  }
}
