.products-card-more {
  @media (min-width: $tablet-width) {
    padding-top: 81px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 75px;
  }
}

.products-card-more__container {
  display: flex;
  flex-direction: column;
  padding: 28px 0;
  width: 280px;

  &::before {
    @include bg-icon-image("plus");
    content: "";
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    place-self: center;
    margin-bottom: 24px;
    width: 30px;
    height: 30px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 49px;
    padding-bottom: 40px;
    justify-content: center;
    align-items: center;
    border: 2px solid $bg-color-button-secondary;
    background: transparent;
    width: 324px;

    &::before {
      margin-bottom: 38px;
      width: 60px;
      height: 60px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 44px;
    width: 245px;

    &::before {
      margin-bottom: 31px;
    }
  }
}

.products-card-more__heading {
  @include text-style(16px, 20px, 400, $secondary-font, $bg-basic-text);
  margin: 0;
  margin-bottom: 8px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-inline: 35px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    width: 76%;
  }

  @media (min-width: $desktop-width) {
    padding-inline: 20px;
    margin-bottom: 17px;
  }
}

.products-card-more__description {
  @include text-style(12px, 16px, 400);
  margin: 0;
  text-align: center;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-inline: 48px;
    text-align: center;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    padding-inline: 20px;
  }
}

.products-card-more__button {
  padding: 10px 0;
  color: $base-color-text;
  background-color: $bg-color-button-secondary;
  transition: background-color ease-in-out 0.3s;

  &:hover,
  &:active {
    background-color: $separator-color-card;
    color: $base-color-text;
  }

  @media (min-width: $tablet-width) {
    margin-top: auto;
    width: 78%;
  }

  @media (min-width: $desktop-width) {
    width: 70%;
  }
}
