.products-card__heading {
  @include text-style(16px, 29px, 400, $secondary-font, $card-color-title);
  text-transform: uppercase;
}

.products-card__param {
  @include text-style(12px, 16px, 400);
}

.products-card-more__heading {
  @include text-style(16px, 20px, 400, $secondary-font, $bg-basic-text);
  text-transform: uppercase;
}

.products-card-more__description {
  @include text-style(12px, 16px, 400);
}

.products-card-more__button {
  color: $base-color-text;
  background-color: $bg-color-button-secondary;
}
